<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>
<div>
    <dl>
        <dt>path:</dt>
        <dd><span th:text="${path}"/></dd>
    </dl>

    <dl>
        <dt>error:</dt>
        <dd><span th:text="${error}"/></dd>
    </dl>

    <dl>
        <dt>exception:</dt>
        <dd><span th:text="${exception}"/></dd>
    </dl>

    <dl>
        <dt>message:</dt>
        <dd><span th:text="${message}"/></dd>
    </dl>

    <dl>
        <dt>errors:</dt>
        <dd><span th:text="${errors}"/></dd>
    </dl>

    <dl>
        <dt>trace:</dt>
        <dd><span th:text="${trace}"/></dd>
    </dl>

    <dl>
        <dt>timestamp:</dt>
        <dd><span th:text="${timestamp}"/></dd>
    </dl>
</div>
</body>
</html>